<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Registrar</title>
</head>
<body>
    <header id="header" class="bg-info shadow p-4 font-weight-bold text-center h4"></header>
    <main>
        <section class="container text-white">
            <div class="container-form m-5 p-5 border border-info bg-light rounded shadow-lg">
                <form action="" class="px-5">
                    <div class="text-secondary m-3 d-flex justify-content-center">
                        <label for="nombre">Nombre y apellido:<span>*</span> </label>
                        <input class="ml-2 border rounded" type="text" name="nombre" id="nombre" placeholder="Juan Perez" required v-model="nombre" @input="alEscribir">
                    </div>
                    <div class="text-secondary m-3 d-flex justify-content-center">
                        <label for="email">Email:<span>*</span> </label>
                        <input class="ml-3 border rounded" type="email" name="email" id="email" placeholder="juan.perez@gmail.com" required v-model="email" @input="alEscribir">
                    </div>
                    <div class="text-secondary m-3 d-flex justify-content-center">
                        <label for="telefono">Número de Teléfono: </label>
                        <input class="ml-3 border rounded" type="tel" name="telefono" id="telefono" placeholder="15 11 22 33 44" v-model="telefono">
                    </div>
                    <div class="text-secondary m-5">
                        <button class="btn btn-primary d-block m-auto" type="button" onclick="guardar()" :disabled="!puedeGuardar">Guardar</button>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <footer></footer>

    <script src="../js/ingresar_persona.js"></script>
    <script src="../js/header.js"></script>
</body>
<script>

    new Vue({
        el: '#app',
        data: {
            mostrarModal: false,
            nameError: false,
            emailError: false,
            emailFormatError: false,
            nombre: '',
            email: '',
            telefono: '',
            asunto: '',
            mensaje: '',
            puedeGuardar: false 
        },
        methods: {

            alEscribir(){
                // Validación del formulario
                if (this.validarFormulario()) {
                    // activa el boton de subscribite
                    this.puedeGuardar = true;
                }
            },
            validarFormulario() {

                if (this.nombre.trim() === "" ){
                    this.nameError = true;
                    return false;

                } else if (this.email.trim() === "") { 
                    this.emailError = true;
                    return false;
                }

                var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                if (!emailRegex.test(this.email)) {
                    this.emailFormatError = true
                    return false;
                }
                return true;
            }
        }
    });
</script>
</html>