<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burguers</title>
    <link rel="stylesheet" href="../CSS/estilos.css">
</head>
    <header>
        <div class="logo">
            <img src="../imagenes/burger-logo7.png" alt="Logo de CodoBurger">
        </div>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="catalogo.html">Catálogo</a></li>
                <li><a href="formulario.html">Contacto</a></li>
                <li><a href="sucursales.html">Sucursales</a></li>
            </ul>
        </nav>
        <div class="social-media">
            <a href="#"><img src="../imagenes/facebook.png" alt="Facebook"></a>
            <a href="#"><img src="../imagenes/instagram.png" alt="Instagram"></a>
            <a href="#"><img src="../imagenes/linkedin.png" alt="LinkedIn"></a>
        </div>
    </header>
<body class="body">

    <main> 
        <h1 class="titulo-burguers">BURGUERS</h1>

        <section class="contenido-galeria">
            <div class ="caja-B">
                <a href="../imagenes/hamburguesa-1.jpg" target="_blank"></a>
                <img class="img" src="../imagenes/hamburguesa-1.jpg" alt="Hamburguesa 1" >
                <h2>Codo BBQ</h2>
                <p>Champiñones Salteados, Cebollas, Pimientos Verdes, Panceta, Queso Suizo, Salsa BBQ Codo en Pan De Cebolla.</p>
            </div>

            <div class="caja-B">
                <a href="../imagenes/hamburguesa-2.jpg" target="_blank"></a>
                <img class = "img" src="../imagenes/hamburguesa-2.jpg" alt="Hamburguesa 2">
                <h2>Breakfast Burger</h2>
                <p>¡Huevo frito, panceta, queso suizo, cebollas asadas, pimientos verdes, tomate, salsa original de Codo!
                </p>
            </div>

            <div class="caja-B">
                <img class = "img" src="../imagenes/hamburguesa-3.jpg" alt="Hamburguesa 3">
                <h2>Codo's Original</h2>
                <p>Lechuga, tomate, pepinos, queso americano, cebolla asada, salsa original de Codo en pan brioche</p>
            </div>

            <div class="caja-B">
                <img class = "img" src="../imagenes/hamburguesa-4.jpg" alt="Hamburguesa 4">
                <h2>Codo Hawaiana</h2>
                <p>Ananá asada, cebollas asadas, queso Pepper Jack, salsa teriyaki de Codo en pan de cebolla.</p>
            </div>

            <div class="caja-B">
                <img class = "img" src="../imagenes/hamburguesa-5.jpg" alt="Hamburguesa 5">
                <h2>Codo’s Volcano</h2>
                <p>Lechuga, tomate, jalapeño, jalapeños poppers, panceta, queso pepper jack, queso nacho, mayonesa picante de Codo en pan de cebolla.</p>
            </div>

            <div class="caja-B">
                <img class = "img" src="../imagenes/hamburguesa-6.jpg" alt="Hamburguesa 6">
                <h2>Grilled Chicken</h2>
                <p>Lechuga, tomate, pepinos, queso americano y mayonesa picante de Codo en pan brioche.</p>
            </div>

            <div class="caja-B">
                <img class = "img" src="../imagenes/hamburguesa-7.jpg" alt="Hamburguesa 7">
                <h2>Knackwurst Burger</h2>
                <p>Media hamburguesa de Knackwurst más hamburguesa, ensalada de col, papas fritas, panceta, huevo frito, cebollas asadas, queso Pepper Jack y mayonesa picante de Codo en pan brioche.</p>
            </div>

            <div class="caja-B">
                <img class = "img" src="../imagenes/hamburguesa-8.jpg" alt="Hamburguesa 8">
                <h2>Cool Ranch Supreme</h2>
                <p>Lechuga, tomate, cebolla asada, panceta, americano, suizo, pepper jack, doritos rancheros frescos, crema agria, aderezo ranchero, salsa picante en pan brioche.</p>
            </div>


        </section>
    </main>
    <footer>
        <ul>
            <li><a href="..\index.html">Home</a></li>
            <li><a href="nosotros.html">Nosotros</a></li>
            <li><a href="catalogo.html">Catálogo</a></li>
            <li><a href="formulario.html">Contacto</a></li>
            <li><a href="sucursales.html">Sucursales</a></li>
        </ul>
        <div class="social-media">
            <a href="#"><img src="../imagenes/facebook.png" alt="Facebook"></a>
            <a href="#"><img src="../imagenes/instagram.png" alt="Instagram"></a>
            <a href="#"><img src="../imagenes/linkedin.png" alt="LinkedIn"></a>
        </div>
    </footer>

</body>
</html>
