<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burguers</title>
</head>
<body>
    <header>
        <link rel="stylesheet" href="../CSS/estilos.css">
        <nav class="header-linea">
            <a class="menu" href="..\index.html">HOME</a>
            <a class="menu" href="catalogo.html">BURGUERS</a>
            <a class="menu" href="nosotros.html">NOSOTROS</a>
            <a class="menu" href="sucursales.html">SUCURSALES</a>
            <a class="menu" href="formulario.html">CONTACTO</a>
        </nav>
    </header>

    <main class="contenido"> 
        <h1>BURGUERS</h1>

        <section class="s1">
            <div id="d1">
                <img class = "img" src="../imagenes/burger-adobe-c.jpg" alt="Hamburguesa 1">
                <h2>Variedad 1</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum eveniet repellendus sed voluptatum nostrum provident corporis dicta exercitationem mollitia sapiente</p>
            </div>

            <div>
                <img class = "img" src="../imagenes/burger-adobe-c.jpg" alt="Hamburguesa 1">
                <h2>Variedad 1</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum eveniet repellendus sed voluptatum nostrum provident corporis dicta exercitationem mollitia sapiente
                </p>
            </div>

            <div>
                <img class = "img" src="../imagenes/burger-adobe-c.jpg" alt="Hamburguesa 1">
                <h2>Variedad 1</h2>
                <p>Descripción</p>
            </div>

            <div>
                <img class = "img" src="../imagenes/burger-adobe-c.jpg" alt="Hamburguesa 1">
                <h2>Variedad 1</h2>
                <p>Descripción</p>
            </div>

            <div>
                <img class = "img" src="../imagenes/burger-adobe-c.jpg" alt="Hamburguesa 1">
                <h2>Variedad 1</h2>
                <p>Descripción</p>
            </div>

            <div>
                <img class = "img" src="../imagenes/burger-adobe-c.jpg" alt="Hamburguesa 1">
                <h2>Variedad 1</h2>
                <p>Descripción</p>
            </div>

            <div>
                <img class = "img" src="../imagenes/burger-adobe-c.jpg" alt="Hamburguesa 1">
                <h2>Variedad 1</h2>
                <p>Descripción</p>
            </div>

            <div>
                <img class = "img" src="../imagenes/burger-adobe-c.jpg" alt="Hamburguesa 1">
                <h2>Variedad 1</h2>
                <p>Descripción</p>
            </div>

            <div>
                <img class = "img" src="../imagenes/burger-adobe-c.jpg" alt="Hamburguesa 1">
                <h2>Variedad 1</h2>
                <p>Descripción</p>
            </div>


        </section>
    </main>
    <footer>
        <ul>
            <li><a href="..\index.html">Home</a></li>
            <li><a href="nosotros.html">Nosotros</a></li>
            <li><a href="catalogo.html">Catálogo</a></li>
            <li><a href="formulario.html">Contacto</a></li>
            <li><a href="sucursales.html">Sucursales</a></li>
        </ul>
        <div class="social-media">
            <a href="#"><img src="image/facebook.png" alt="Facebook"></a>
            <a href="#"><img src="image/instagram.png" alt="Instagram"></a>
            <a href="#"><img src="image/linkedin.png" alt="LinkedIn"></a>
        </div>
    </footer>

</body>
</html>
