<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/estilos.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <title>Contacto</title>
</head>

<header>
    <div class="logo">
        <img src="../imagenes/burger-logo7.png" alt="Logo de CodoBurger">
    </div>
    <nav>
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="nosotros.html">Nosotros</a></li>
            <li><a href="catalogo.html">Catálogo</a></li>
            <li><a href="formulario.html">Contacto</a></li>
            <li><a href="sucursales.html">Sucursales</a></li>
        </ul>
    </nav>
    <div class="social-media">
        <a href="#"><img src="../imagenes/facebook.png" alt="Facebook"></a>
        <a href="#"><img src="../imagenes/instagram.png" alt="Instagram"></a>
        <a href="#"><img src="../imagenes/linkedin.png" alt="LinkedIn"></a>
    </div>
</header>

<body :class="{ 'modal-open': mostrarModal }" class="body">
    <div id="app">
    <main class="container">
        <h1 class="contactanos-title">CONTACTANOS!</h1>

        <form>
            <label for="nombre">Nombre y apellido<span>*</span></label>
            <input type="text" id="nombre" name="nombre" placeholder="Juan Perez" required v-model="nombre" @input="alEscribir">
            <div v-if="nameError" class="error"> Este campo es obligatorio!</div>

            <label for="email">Correo Electrónico<span>*</span></label>
            <input type="email" id="email" name="email" placeholder="juan.perez@gmail.com" required v-model="email" @input="alEscribir">
            <div v-if="emailError" class="error"> Este campo es obligatorio!</div>
            <div v-if="emailFormatError" class="error"> Ingrese una dirección de correo electrónico válida!</div>

            <label for="telefono">Número de Teléfono</label>
            <input type="tel" id="telefono" name="telefono" placeholder="15 11 22 33 44" v-model="telefono">

            <label for="asunto">Asunto del Mensaje</label>
            <input type="text" id="asunto" name="asunto" placeholder="Solicitud de informacion" v-model="asunto">

            <label for="mensaje">Mensaje</label>
            <textarea id="mensaje" name="mensaje" placeholder="Me gustaria saber mas sobre..." v-model="mensaje"></textarea>

            <button class="submit" type="submit" @click="enviarFormulario">Enviar</button>
            <button class="submit" type="button" onclick="guardarFront()" :disabled="!puedeGuardar">Subscribite a nuestras ofertas</button>
        </form>
        <div class="modal-background" :class="{ 'active': mostrarModal }"  @click="mostrarModal = false"></div>
        <div class="modal" :class="{ 'active': mostrarModal }" @click="mostrarModal = false">
            <p> Gracias por comunicarte con nosotros <strong>{{nombre}}</strong>, <br> En breve te contestaremos!</p>
        </div>
    </main>

    <footer>
        <ul>
            <li><a href="..\index.html">Home</a></li>
            <li><a href="nosotros.html">Nosotros</a></li>
            <li><a href="catalogo.html">Catálogo</a></li>
            <li><a href="formulario.html">Contacto</a></li>
            <li><a href="sucursales.html">Sucursales</a></li>
            <a href="../templates-admin/personas.html">Ver tabla</a>
        </ul>
        <div class="social-media">
            <a href="#"><img src="../imagenes/facebook.png" alt="Facebook"></a>
            <a href="#"><img src="../imagenes/instagram.png" alt="Instagram"></a>
            <a href="#"><img src="../imagenes/linkedin.png" alt="LinkedIn"></a>
        </div>
    </footer>
</div>
</body>
<script src="../js/ingresar_persona.js"></script>
<script>

    new Vue({
        el: '#app',
        data: {
            mostrarModal: false,
            nameError: false,
            emailError: false,
            emailFormatError: false,
            nombre: '',
            email: '',
            telefono: '',
            asunto: '',
            mensaje: '',
            puedeGuardar: false 
        },
        methods: {
            enviarFormulario() {
                // Validación del formulario
                if (this.validarFormulario()) {
                    // Mostrar el modal si la validación es exitosa
                    this.mostrarModal = true;
                }
            },
            alEscribir(){
                // Validación del formulario
                if (this.validarFormulario()) {
                    // activa el boton de subscribite
                    this.puedeGuardar = true;
                }
            },
            validarFormulario() {

                if (this.nombre.trim() === "" ){
                    this.nameError = true;
                    return false;

                } else if (this.email.trim() === "") { 
                    this.emailError = true;
                    return false;
                }

                var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                if (!emailRegex.test(this.email)) {
                    this.emailFormatError = true
                    return false;
                }
                return true;
            }
        }
    });
</script>

</html>
