<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="../img/codoAcodo.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
</head>
<body>
    

    <header>
        <nav>
            <a href="..\index.html">Home</a>
            <a href="catalogo.html">Burguers</a>
            <a href="nosotros.html">Nosotros</a>
            <a href="sucursales.html">Sucursales</a>
            <a href="formulario.html">Contacto</a>
        </nav>
    </header>

    <main>
        <h1>CONTACTO</h1>
    </main>

    <footer></footer>

</body>
</html>