<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="../img/codoAcodo.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
</head>


<header>
    <link rel="stylesheet" href="../CSS/estilos.css">
    <nav class="header-linea">
        <a class="menu" href="..\index.html">HOME</a>
        <a class="menu" href="catalogo.html">BURGUERS</a>
        <a class="menu" href="nosotros.html">NOSOTROS</a>
        <a class="menu" href="sucursales.html">SUCURSALES</a>
        <a class="menu" href="formulario.html">CONTACTO</a>
    </nav>
</header>

<body>

    <section class="nosotros-section">
        <section class="texto-section">
            <div class="texto-izquierdo">
                <h1>Nuestra Historia</h1>
                <p>Somos CodoBurger, una empresa que nace en Buenos Aires, nuestra historia es una delicia para
                    compartir. Desde nuestros humildes comienzos en 2018, hemos estado en el negocio de servir las
                    mejores hamburguesas que puedas imaginar. Fundada por un grupo apasionado de amantes de la comida,
                    nuestra misión siempre ha sido la misma: ofrecer experiencias gastronómicas excepcionales a nuestros
                    clientes.
                </p>
                <p>
                    A lo largo de estos años, hemos visto a clientes convertirse en fieles seguidores de CodoBurger.
                    Nuestra pasión por la comida y nuestro compromiso con la satisfacción del cliente nos han convertido
                    en un punto de referencia en la escena de la comida rápida. Y lo mejor de todo, nuestra historia
                    sigue escribiéndose, con nuevos capítulos llenos de innovación y deliciosas sorpresas.<br><br>
                </p>
                
                <p>
                    Te invitamos a unirte a nosotros en este viaje culinario y a formar parte de la historia de
                    CodoBurger.
                    ¡Vení y enterate por qué somos la elección número uno para los amantes de las
                    hamburguesas!</p>
            </div>
        </section>

        <section class="imagen-section">
            <div class="imagen-derecha">
                <img src="../imagenes/burger02_h.jpg" alt=" Nuestra Historia">
            </div>
        </section>

    </section>

    <section>

        <div class="trabajar-con-nosotros">
            <img src="../imagenes/burger06_h.jpg" alt="  Imagen Trabajar con Nosotros">
            <div class="superposicion">
                <h2>¿Querés trabajar con nosotros?</h2>
                <p>En CodoBurger, valoramos el talento y la pasión por la comida. Ser integrante de CodoBurger es tener
                    pasión y compromiso por los demás, buscamos vivir experiencias desde la confianza, haciendo historia
                    y trabajando en equipo para crear un mundo mejor.<br>
                    Si te interesa en sumarte a nuestro equipo, por favor envianos un mail con tu cv a <a
                        href="mailto:rrhh@codoburger.com">rrhh@codoburger.com</a>.</p>
            </div>
        </div>

    </section>

    <footer>
    </footer>


</body>

</html>