<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nosotros</title>
  <link rel="stylesheet" href="../CSS/estilos.css">
</head>
<body>
       <header>
            <div class="logo">
              <img src="../imagenes/burger-logo7.png" alt="Logo de CodoBurger">
            </div>
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="nosotros.html">Nosotros</a></li>
                    <li><a href="catalogo.html">Catálogo</a></li>
                    <li><a href="formulario.html">Contacto</a></li>
                    <li><a href="sucursales.html">Sucursales</a></li>
                </ul>
            </nav>
            <div class="social-media">
                <a href="#"><img src="../imagenes/facebook.png" alt="Facebook"></a>
                <a href="#"><img src="../imagenes/instagram.png" alt="Instagram"></a>
                <a href="#"><img src="../imagenes/linkedin.png" alt="LinkedIn"></a>
            </div>
        </header>
        
        <section class="nosotros-section">
            <section class="texto-section">
                <div class="texto-izquierdo">
                    <h1>Nuestra Historia</h1>
                    <p>Somos CodoBurger, una empresa que nace en Buenos Aires, nuestra historia es una delicia para
                        compartir. Desde nuestros humildes comienzos en 2018, hemos estado en el negocio de servir las
                        mejores hamburguesas que puedas imaginar. Fundada por un grupo apasionado de amantes de la comida,
                        nuestra misión siempre ha sido la misma: ofrecer experiencias gastronómicas excepcionales a nuestros
                        clientes.<br><br>
                        A lo largo de estos años, hemos visto a clientes convertirse en fieles seguidores de CodoBurger.
                        Nuestra pasión por la comida y nuestro compromiso con la satisfacción del cliente nos han convertido
                        en un punto de referencia en la escena de la comida rápida. Y lo mejor de todo, nuestra historia
                        sigue escribiéndose, con nuevos capítulos llenos de innovación y deliciosas sorpresas.<br><br>
                        Te invitamos a unirte a nosotros en este viaje culinario y a formar parte de la historia de
                        CodoBurger.
                        ¡Vení y enterate por qué somos la elección número uno para los amantes de las
                        hamburguesas!
                    </p>
                </div>
            </section>

            <section class="imagen-section">
                <div class="imagen-derecha">
                    <img src="../imagenes/burger02_h.jpg" alt="Nuestra Historia">
                </div>          
            </section>

        </section>

        <section>
    
            <div class="trabajar-con-nosotros">
                <img src="../imagenes/burger06_h.jpg" alt="Imagen Trabajar con Nosotros">
                <div class="superposicion">
                  <h2>¿Quieres trabajar con nosotros?</h2>
                  <p>En CodoBurger, valoramos el talento y la pasión por la comida. Ser integrante de CodoBurger es tener pasión y compromiso por los demás, buscamos vivir experiencias desde la confianza, haciendo historia y trabajando en equipo para crear un mundo mejor.<br>
                  Si estas interesado en sumarte a nuestro equipo, por favor envianos un mail con tu cv a <a href="mailto:rrhh@codoburger.com">rrhh@codoburger.com</a>.</p>
                </div>            
            </div>
    
        </section>
    
        <footer>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="catalogo.html">Catálogo</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <li><a href="sucursales.html">Sucursales</a></li>
            </ul>
            <div class="social-media">
                <a href="#"><img src="../imagenes/facebook.png" alt="Facebook"></a>
                <a href="#"><img src="../imagenes/instagram.png" alt="Instagram"></a>
                <a href="#"><img src="../imagenes/linkedin.png" alt="LinkedIn"></a>
            </div>
        </footer>

    
</body>

</html>