<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="../img/codoAcodo.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
</head>
<body>
    

    <header>
        <link rel="stylesheet" href="../CSS/estilos.css">
        <nav class="header-linea">
            <a class="menu" href="..\index.html">HOME</a>
            <a class="menu" href="catalogo.html">BURGUERS</a>
            <a class="menu" href="nosotros.html">NOSOTROS</a>
            <a class="menu" href="sucursales.html">SUCURSALES</a>
            <a class="menu" href="formulario.html">CONTACTO</a>
        </nav>
    </header>

    <main>
        <h1>NOSOTROS</h1>
    </main>

    <footer></footer>

</body>
</html>
