<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/estilos.css">
    <title>Sucursales</title>
</head>
<body class="body">
    <header>
        <div class="logo">
            <img src="../imagenes/burger-logo7.png" alt="Logo de CodoBurger">
        </div>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="catalogo.html">Catálogo</a></li>
                <li><a href="formulario.html">Contacto</a></li>
                <li><a href="sucursales.html">Sucursales</a></li>
            </ul>
        </nav>
        <div class="social-media">
            <a href="#"><img src="../imagenes/facebook.png" alt="Facebook"></a>
            <a href="#"><img src="../imagenes/instagram.png" alt="Instagram"></a>
            <a href="#"><img src="../imagenes/linkedin.png" alt="LinkedIn"></a>
        </div>
    </header>
    <main>
        <h1 class="titulo-catalogo">NUESTRAS SUCURSALES</h1>
        <section>
            <h2 class="localidad">Capital Federal</h2>
            <div class="contenedor-f">
                <div class="mapa">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.0113027190473!2d-58.41560312396746!3d-34.603875697715665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca8c854bd13f%3A0xfc0cf5c054da4aa1!2sAbasto%20Shopping!5e0!3m2!1ses-419!2sar!4v1696261184075!5m2!1ses-419!2sar"
                        width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
                <div class="datos">
                    <h2>Balvanera</h2>
                    <h3>
                        <em>Abierto de 18 a 23hs</em>
                    </h3>
                    <ul class="lista-sucursal">
                        <li> <strong>Telefono</strong> : 11 12345678 </li>
                        <li> <strong>Email</strong> : codoburger@codoacodo.com</li>
                        <li> <strong>Dirección</strong> : Av. Corrientes 3247</li>
                    </ul>
                </div>
            </div>
            <div class="contenedor-f">
                <div class="mapa">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2129.0312028870753!2d-58.43763432750338!3d-34.61895234756674!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca4725cd3259%3A0x27b9678ac86718!2sCaballito%20Shopping%20Center!5e0!3m2!1ses-419!2sar!4v1696261007396!5m2!1ses-419!2sar"
                        width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="datos">
                    <h2>Caballito</h2>
                    <h3>
                        <em>Abierto de 18 a 23hs</em>
                    </h3>
                    <ul class="lista-sucursal">
                        <li><strong>Telefono</strong> : 11 12345678</li>
                        <li><strong>Email</strong> : codoburger@codoacodo.com</li>
                        <li><strong>Dirección</strong> : Av. Rivadavia 5108</li>
                    </ul>
                </div>
            </div>
        </section>
        <h2 class="localidad">Mar del plata</h2>
        <section>
            <div class="contenedor-f">
                <div class="mapa">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3143.492546625819!2d-57.54649362461765!3d-38.01229529540975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9584dc236f6f3719%3A0x81b37e4bfe9892b2!2sSarmiento%202685%2C%20Mar%20del%20Plata%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1696260511843!5m2!1ses-419!2sar"
                        width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="datos">
                    <h2>Centro</h2>
                    <h3>
                        <em>Abierto de 18 a 23hs</em>
                    </h3>
                    <ul class="lista-sucursal">
                        <li><strong>Telefono</strong> : 11 12345678</li>
                        <li><strong>Email</strong> : codoburger@codoacodo.com</li>
                        <li><strong>Dirección</strong> : Sarmiento 2685</li>
                    </ul>
                </div>
            </div>
            <div class="contenedor-f">
                <div class="mapa">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3144.0925235676254!2d-57.55219430000001!3d-37.9983023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9584dc02660b5dbb%3A0x34e06e51e1037853!2sRivadavia%203050%2C%20B7600GNT%20Mar%20del%20Plata%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1696260241630!5m2!1ses-419!2sar"
                        width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="datos">
                    <h2>2 De Abril</h2>
                    <h3>
                        <em>Abierto de 18 a 23hs</em>
                    </h3>
                    <ul class="lista-sucursal">
                        <li><strong>Telefono</strong> : 11 12345678</li>
                        <li><strong>Email</strong> : codoburger@codoacodo.com</li>
                        <li><strong>Direccion</strong> : Rivadavia 3050</li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <ul>
            <li><a href="..\index.html">Home</a></li>
            <li><a href="nosotros.html">Nosotros</a></li>
            <li><a href="catalogo.html">Catálogo</a></li>
            <li><a href="templates/formulario.html">Contacto</a></li>
            <li><a href="sucursales.html">Sucursales</a></li>
        </ul>
        <div class="social-media">
            <a href="#"><img src="../imagenes/facebook.png" alt="Facebook"></a>
            <a href="#"><img src="../imagenes/instagram.png" alt="Instagram"></a>
            <a href="#"><img src="../imagenes/linkedin.png" alt="LinkedIn"></a>
        </div>
    </footer>
</body>
</html>