<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="../img/codoAcodo.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucursales</title>
</head>
<body>
    

    <header>
        <nav>
            <a href="..\index.html">Home</a>
            <a href="catalogo.html">Burguers</a>
            <a href="nosotros.html">Nosotros</a>
            <a href="sucursales.html">Sucursales</a>
            <a href="formulario.html">Contacto</a>
        </nav>
    </header>

    <main>
        <h1>SUCURSALES</h1>
    </main>

    <!-- Un section para cada localidad -->

    <section>

        <h2>📍Buenos Aires</h2>

        <br>
        <br>

        <div>
            <ul>
                 <h2>Capital Federal</h3>

                 <li>Avenida Corrientes 3247, Lavalle 3120 </li>
                 <br>
                 <li>Jerónimo Salguero 3172</li>
                 <br>
                 <li>Av. Rivadavia 5108</li>
            </ul>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.0113003546085!2d-58.41356462492869!3d-34.60387575750533!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca8c87fde6e1%3A0x2c6d4110fbf70ca4!2sAv.%20Corrientes%203247%2C%20C1193%20CABA!5e0!3m2!1ses-419!2sar!4v1695341291746!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </section>

    <hr>

    <section>
            <ul>
                <h2>Mar del Plata</h3>

                <li>Rivadavia 3050</li>
                <br>
                <li>Sarmiento 2685</li>
                <br>

            </ul>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3144.0927086576244!2d-57.55680772352953!3d-37.998297982553176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9584dc02660b5dbb%3A0x34e06e51e1037853!2sRivadavia%203050%2C%20B7600GNT%20Mar%20del%20Plata%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1695341522794!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>


        <div class="mapa"></div>

    </section>

    <br>

    <hr>


    <footer>
        <h3>Codo Burger 2023 © </h3>
    </footer>

</body>
</html>